
body{
  margin: 0;
  font-family: Arial, sans-serif;
}

header{

  background: black;
  color:white;
  padding: 20px;
  text-align: center;
  display: flex; /* Elemente nebeneinander */
  justify-content: space-between;
  align-items: center;

}

footer{
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

button{
  background: #ffcc00;
  color: black;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  cursor: pointer;
}

nav a{
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover{
  color: #ffcc00;
}

section {
  padding: 60px 20px;
  text-align: center;
}
section:nth-child(even) {
  background: #f5f5f5;
}